[submodule "glfw3webgpu"]
	path = glfw3webgpu
	url = https://github.com/eliemichel/glfw3webgpu
[submodule "WebGPU-distribution"]
	path = webgpu
	url = https://github.com/eliemichel/WebGPU-distribution
